.slide-wrapper {
  width: 800px;
  overflow: hidden;
  margin-bottom: 10px;
}

.slide-container {
  display: flex;
  width: 300%;
  transition: transform 0.3 ease;
}

.slide-box {
  width: 33.3333%;
}

.slide-box img {
  width: 100%;
  display: block;
}
